#books-list{
    display: block;
    width: calc( 100% - 20px );
    margin: 10px;
}

.book{
    display: block;
    float: left;
    width: 320px;
    height: auto;
    padding: 10px;
}
img{
    max-width: 320px;
}